@inherits DashBoardBase
@using BlazorApp.Client.Components;

@page "/dashboard"
@attribute [Authorize(Roles = "admin")]

@inject IMatToaster Toaster

@if (Facilities == null)
{
    <MatProgressBar Indeterminate="true" />
}
else
{
    <div class="row">
        <div class="flex-fill mat-elevation-z4 p-2">
            <MatTextField class="w-100 mb-0" @bind-Value="@Filter" Icon="search" Outlined="true" />
        </div>
    </div>
    <div class="row">
        <div class="d-flex flex-wrap justify-content-center justify-content-sm-center justify-content-md-center mt-2">
            @foreach (var facilityCard in Facilities)
            {
                <div class="p-2">
                    <FacilityCard Model="@facilityCard"></FacilityCard>
                </div>
            }
        </div>
    </div>
}
