@inherits FacilityCardBase

<div class="card m-2" style="width: 350px;">
    <img src="@Model.PreviewUrl" class="card-img-top cover" style="height: 200px">
    <div class="card-body">
        <h5 class="card-title text-truncate">@Model.Name</h5>
        <p class="card-text text-truncate">@Model.Address</p>
    </div>
    <div class="card-body mx-auto">
        <button type="button" class="btn btn-primary" @onclick="OnNewAudit">
            Новый Аудит
        </button>
    </div>
</div>