@inherits FacilityCardBase

<div class="card m-2" style="width: 350px;">
    <img src="@Model.PreviewUrl" class="card-img-top cover" style="height: 200px">
    <div class="card-body">
        <h5 class="card-title text-truncate">@Model.Name</h5>
        <p class="card-text text-truncate">@Model.Address</p>
        <div class="text-center">
            <button type="button" class="btn btn-primary" @onclick="OnNewAudit">
                Аудит
            </button>
        </div>
        <div class="mt-4 d-flex justify-content-between">
            <a href="facilities/@Model.Id/audits" class="card-title">История</a>
            <a href="#" class="card-title">Редактировать</a>
            <a href="#" class="card-title">Удалить</a>
        </div>
    </div>
</div>