@inherits LayoutComponentBase

<div class="main">
    <AuthorizeView>
        <Authorized>
            <NavBar />
        </Authorized>
    </AuthorizeView>
    <div class="container-fluid">
        <div class="row">
            <AuthorizeView>
                <Authorized>
                    <SideBar />
                </Authorized>
            </AuthorizeView>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                @Body
            </main>
        </div>
    </div>
</div>



