@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                Hello, @context.User.Identity.Name!
                <a href="/.auth/logout?post_logout_redirect_uri=/">Log out</a>
            </Authorized>
            <NotAuthorized>
                <a class="btn btn-md btn-social btn-facebook" href="/.auth/login/facebook">
                    <span class="fa fa-facebook"></span> Sign in with Facebook
                </a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
