@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu/>
        </div>
    </Authorized>
</AuthorizeView>

<div class="main">
    <AuthorizeView>
        <Authorized>
            <div class="top-row px-4">
                @context.User.Identity.Name
                <a href="/.auth/logout?post_logout_redirect_uri=/">
                    <span class="oi oi-account-logout" aria-hidden="true"></span>
                </a>
            </div>
        </Authorized>
    </AuthorizeView>
    <div class="content px-4">
        @Body
    </div>
</div>
